/* ! lifework Section */
.lifework {
  min-height: 100vh;
  height: auto;
}

.lifework-content {
  display: grid;
  margin: 0 2rem;
  row-gap: 2rem;
  text-align: center;
}

.lifework-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  background: var(--background);
}

.lifework-icon {
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--color);
}

.lifework-name {
  display: flex;
  align-items: center;
}

.lifework-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.lifework-subtitle {
  margin-bottom: 2rem;
}

.lifework-text {
  margin-bottom: 4rem;
}

.lifework-img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.lifework-percent {
  color: var(--color);
}

.lifework__iq {
  width: 100%;
}

.lifework__theories {
  width: 75%;
}
